$accounts-ui-color: $brand-primary;

.accounts-ui {
  padding: 30px;
  border: solid 3px $accounts-ui-color;
  font-family: $font-family-sans-serif;

  button[type="submit"] {
    background-color: darken($accounts-ui-color, 5%);

    &:hover, &:active, &:focus {
      background-color: lighten($accounts-ui-color, 15%);
    }
  }
}
