
.stacks-list-actions {

  .badge {
    color: white;
  }
}

.flag {
  background-color: $secondary-color;
  color: #fff;
  display: inline-block;
  padding: 0 5px;
  margin: auto .3em;
  border-radius: 2px;
}
