
// Make sure top alert ends up
// above Bootstrap fixed nav (z-index is 1030)
.s-alert-box {
  z-index: 1040;
}

// Center the text in top alerts
.s-alert-top > .s-alert-box-inner {
  width: 100%;
  text-align: center;
}

// badge item
.flag {
  background-color: #7f6188;
  color: #fff;
  border-radius: 2px;
  padding: 0 .5em;
  margin: 0 .5em;
}
