
.settings-page {

  .settings-page-form {
    padding-bottom: 70px;
  }

  .settings-group-heading {
    margin: 3rem 0 1.5rem -0.75rem;

    &:first-of-type {
      margin-top: 2rem;
    }
  }

  .info-text {
    display: block;
    font-size: .8em;
    padding-left: 1.5rem;
    margin: .2rem 0 1rem 0;
  }

  .form-group,
  .info-text,
  .settings-group-heading {
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
  }

  .form-group {
    padding-left: 1rem;

    button[type="submit"] {
      margin-top: 2em;
    }
  }

}
